@font-face {
  font-family: "function-regular";
  src: url("../css/fonts/function/Function Regular.ttf") format("truetype");
}

@font-face {
  font-family: "function-bold";
  src: url("../css/fonts/function/Function Bold.ttf") format("truetype");
}

body {
  font-family: "function-regular", sans-serif;
  line-height: 1;
  font-size: $default-font-size;
  color: $color-black;
}

.heading-h1 {
  font-family: "function-bold", sans-serif;
  color: $color-white;
  letter-spacing: 5px;
  line-height: 150%;
}

.nav__logo {
  text-align: center;
  position: relative;
}

.nav__logo-name {
  font-weight: 700;
  font-size: 25px;
}

.nav__logo-name::before {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 25%;
  background-color: $color-primary;
}