@font-face {
  font-family: "function-regular";
  src: url("../css/fonts/function/Function Regular.ttf") format("truetype");
}

@font-face {
  font-family: "function-bold";
  src: url("../css/fonts/function/Function Bold.ttf") format("truetype");
}

body {
  font-family: "function-regular", sans-serif;
  line-height: 1.5;
  font-size: $default-font-size;
  color: $color-black;
}

.heading-h1 {
  font-family: "function-bold", sans-serif;
  color: $color-white;
  letter-spacing: 5px;
  line-height: 150%;
}

.heading-h2 {
  color: $color-primary-black;
  // text-shadow: 2px 2px 2px $color-primary-blue;
}

// heading h3
.heading-h3 {
  text-align: center;
  position: relative;

  &--main {
    font-weight: 700;
    font-size: 3rem;
    color: $color-primary-orange;

    &:hover {
      transform: scale(1.1) skewY(2deg) skewX(15deg);
      text-shadow: 0.5rem 1rem 2rem rgba($color-primary-orange, 0.8);
    }
  }

  &--sub {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }
}

.heading-h4 {
  font-size: 3.75rem;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  color: $color-primary-orange;
}

.result-data {
  padding: 1rem 1.5rem;
  visibility: hidden;

  &__error {
    background-color: #ffaaaa;
    border-left: 5px solid #ff0000;
    color: #cf0000;
  }

  &__success {
    background-color: #6df86d;
    border-left: 5px solid #129112;
    color: #098309;
  }
}

// logo
.logo {
  text-align: center;
  position: relative;
  // color: $color-primary-blue-dark-1;

  &__name {
    font-weight: 700;
    font-size: 25px;

    &::before {
      content: "";
      width: 30%;
      height: 2px;
      position: absolute;
      left: 0;
      top: 25%;
      background-color: $color-primary-orange;
    }
  }
}

// section link
.section__link {
  text-align: right;
  display: block;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
  margin-top: 4rem;
  text-decoration: underline;

  &:hover {
    letter-spacing: 5px;
    color: $color-primary-orange;
    font-weight: 700;
  }
}
