@font-face {
  font-family: "function-regular";
  src: url("../css/fonts/function/Function Regular.ttf") format("truetype");
}

@font-face {
  font-family: "function-bold";
  src: url("../css/fonts/function/Function Bold.ttf") format("truetype");
}

body {
  font-family: "function-regular", sans-serif;
  line-height: 1.5;
  font-size: $default-font-size;
  color: $color-black;
}

.heading-h1 {
  font-family: "function-bold", sans-serif;
  color: $color-white;
  letter-spacing: 5px;
  line-height: 150%;
}

// heading h2
.heading-h3 {
  text-align: center;
  margin-bottom: 6rem;
  position: relative;

  &--main {
    font-weight: 700;
    font-size: 3rem;
  }

  &--sub {
    font-weight: 300;
    font-size: 16px;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  &::before, &::after {
    content: "";
    width: 30%;
    height: 2px;
    position: absolute;
    top: 50%;
    background-color: $color-primary;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

// logo
.logo {
  text-align: center;
  position: relative;

  &__name {
    font-weight: 700;
    font-size: 25px;
  
    &::before {
      content: "";
      width: 30%;
      height: 2px;
      position: absolute;
      left: 0;
      top: 25%;
      background-color: $color-primary;
    }
  }
}

// section link
.section__link {
  text-align: right;
  display: block;
  transition: all 0.3s ease-in-out;
  padding-bottom: 5px;
  margin-top: 4rem;
  text-decoration: underline;

  &:hover {
    letter-spacing: 5px;
    color: $color-primary;
    font-weight: 700;
  }
}