*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

ul {
  list-style: none; }

a {
  color: inherit;
  text-decoration: none; }

img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.container {
  width: 120rem;
  margin: 0 auto; }

.active {
  font-weight: 700; }

.icon {
  width: 2rem; }

@keyframes moveInBottom {
  0% {
    transform: translateY(10rem);
    opacity: 0; }
  100% {
    transform: translate(0);
    opacity: 1; } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@font-face {
  font-family: "function-regular";
  src: url("../css/fonts/function/Function Regular.ttf") format("truetype"); }

@font-face {
  font-family: "function-bold";
  src: url("../css/fonts/function/Function Bold.ttf") format("truetype"); }

body {
  font-family: "function-regular", sans-serif;
  line-height: 1;
  font-size: 1.6rem;
  color: #000; }

.heading-h1 {
  font-family: "function-bold", sans-serif;
  color: #fff;
  letter-spacing: 5px;
  line-height: 150%; }

.nav__logo {
  text-align: center;
  position: relative; }

.nav__logo-name {
  font-weight: 700;
  font-size: 25px; }

.nav__logo-name::before {
  content: "";
  width: 30%;
  height: 2px;
  position: absolute;
  left: 0;
  top: 25%;
  background-color: #FFBA48; }

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.mt-30 {
  margin-top: 3rem; }

.btn {
  padding: 1.5rem 3rem;
  border: 0.2rem solid #000;
  display: inline-block; }

.cta {
  transition: all 0.1s linear;
  background-color: #000;
  color: #fff; }
  .cta__arrow {
    transition: all 0.2s linear; }
  .cta:hover {
    letter-spacing: 2px; }
  .cta:hover .cta__arrow {
    margin-left: 20px; }
  .cta:active {
    transform: translateY(3px);
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.8); }

.banner {
  background: url("../images/banner-img.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  height: calc(100vh - 100px);
  position: relative;
  overflow: hidden;
  animation-name: fadeIn;
  animation-duration: 0.5s;
  animation-timing-function: ease-in; }
  .banner__content {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 30rem; }
    .banner__content * {
      animation-name: moveInBottom;
      animation-timing-function: ease-in; }
    .banner__content .heading-h2 {
      animation-duration: 0.5s; }
    .banner__content .heading-h1 {
      animation-name: moveInBottom;
      animation-duration: 0.7s;
      animation-timing-function: ease-in; }
    .banner__content .cta {
      animation-name: moveInBottom;
      animation-duration: 1s;
      animation-timing-function: ease-in; }

.nav {
  padding: 3rem 0;
  transition: all .2s linear;
  transform-origin: top;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px;
  background-color: #fff;
  box-shadow: 0 1px 25px rgba(0, 0, 0, 0.1); }
  .nav li:not(:last-child) {
    margin-right: 3rem; }
  .nav__notification {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    display: inline-block;
    text-align: center;
    line-height: 2rem;
    margin-left: 5px;
    font-size: 80%; }
  .nav:hover {
    transform-origin: bottom; }
  .nav.hide {
    top: -100px; }
  .nav .list-pages > li a {
    position: relative;
    display: block; }
    .nav .list-pages > li a::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2px;
      top: 120%;
      left: 0;
      background: #FFBA48;
      transform: scaleX(0);
      transform-origin: left;
      transition: all 0.2s; }
    .nav .list-pages > li a:hover::after {
      transform: scaleX(1);
      transform-origin: right; }

.error__title {
  font-size: 2.0rem;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
  padding-left: 4.0rem; }
  .error__title::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -0.1rem;
    display: block;
    width: 2.0rem;
    border-bottom: 0.2rem solid; }

.error__more-detail {
  padding-top: 1.0rem;
  margin-top: 1.0rem;
  font-size: 2.5rem;
  line-height: 4.5rem;
  margin-bottom: 3rem; }

.error__button {
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  padding: 0 4.0rem;
  line-height: 4.0rem;
  background-color: #000;
  cursor: pointer;
  transition: .4s; }
  .error__button--large {
    line-height: 6.0rem;
    padding: 0 8.0rem; }

.error__detail {
  font-size: 7.0rem;
  margin-top: 1.0rem;
  margin-bottom: 1.5rem;
  font-weight: 500; }

.error__body {
  padding: 15rem 0rem 1rem 20rem; }

.detail__breadcrumb {
  padding: 1.4rem 0;
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  border-radius: 0.25rem; }
  .detail__breadcrumb-item {
    display: flex; }
    .detail__breadcrumb-item .active {
      color: #fff;
      padding: 0 0.85rem;
      padding-left: 3rem; }
  .detail__breadcrumb-items {
    display: flex;
    position: relative;
    text-decoration: none; }

.detail__product-image {
  width: 47rem;
  margin-left: 8rem; }

.detail__product-name {
  font-size: 3rem; }

.detail__row {
  display: flex;
  height: 47rem;
  margin: 3rem 0 8rem; }

.detail__productdetails {
  margin-left: 10rem; }

.detail__price {
  display: block;
  margin-bottom: 3rem;
  margin-top: 3rem;
  font-size: 2rem; }

.detail__stock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  margin-right: 1rem;
  margin-top: 2rem; }

.detail__stock > span span {
  font-weight: 700;
  margin-right: 0.8rem; }

.detail__stock > span {
  display: block;
  font-weight: 400;
  margin-left: 2.3rem; }

.detail__qty-add-cart {
  -ms-flex-line-pack: center;
  align-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 4rem;
  margin: 2.1rem 0 2rem; }
  .detail__qty-add-cart > label {
    -ms-flex-item-align: center;
    align-self: center;
    font-weight: 700;
    margin: 0 1.3rem 0 0;
    text-transform: capitalize;
    display: inline-block;
    margin-bottom: 0.5rem; }
  .detail__qty-add-cart > input {
    border-radius: 2rem;
    padding: 0 1rem;
    text-align: center;
    width: 7rem;
    border: 1px solid #e5e5e5; }

.detail__info {
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 2rem;
  color: #FFBA48; }

.detail__p {
  display: block;
  margin-bottom: 1rem; }

.detail__area {
  border: 1px solid #e5e5e5;
  padding: 2rem 8rem; }

.detail__product-name {
  font-weight: 600;
  line-height: 2.5rem;
  margin-right: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 0.6rem;
  color: #FFBA48; }

.detail__items_container > span {
  display: block;
  line-height: 2.1rem;
  margin-bottom: 0.9rem;
  margin-left: 4rem;
  position: relative; }

.detail__items_container li {
  padding-left: 1.5rem;
  margin-left: 2rem;
  position: relative; }
  .detail__items_container li::before {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: #FFBA48;
    position: absolute;
    top: 30%;
    left: 0; }

.detail__content {
  padding-top: 2rem;
  padding-left: 2rem; }

.detail__final {
  padding-top: 5rem; }

.btn-add-cart {
  background: #000;
  border-radius: 2.9rem;
  color: #fff;
  line-height: 4rem;
  margin-left: 1.5rem;
  padding: 0 4.1rem;
  text-transform: uppercase;
  cursor: pointer; }

.btn-add-wishlist {
  background: #FFBA48;
  display: inline-block;
  padding: 1rem 3rem;
  margin-top: 3rem;
  cursor: pointer; }
