.account__text{
    font-size: 3rem;
    color: $color-primary-orange;
    padding-bottom: 1rem;
}
.flex_container{
    display: flex;
    padding: 2rem 3rem;
    margin: 10rem 0rem;
}

.left_flex_container{
    flex: 5;
    img{
        display: flex;
	    justify-content: flex-end;
        align-items: center;
        width: 85%;
        height: auto;
    }
}

.right_flex_container{
    flex: 5;
}

.account__SaveBtn{
    background-color: lighten($color-primary-orange,20%);
    border: none;
    border-radius: 0.5rem;
    margin-top: 2rem;
    padding: 0.8rem;
    transition: all 0.3s linear;
    font-size: 16px;
    &:hover{
        background-color: darken($color-primary-orange, 10%);
        color: $color-white;
        cursor: pointer;
    }
}

.info_container_style{
    margin-top: 3rem;
}

.text_info_style{
    width: 50rem;
    height: 3rem;
    margin: 1rem 0rem;
    padding: 0.2rem;
}

.address_info_style{
    width: 50rem;
    height: 3rem;
    padding: 0.3rem 0.5rem;
    margin: 1rem 0rem;
}
