.brandinfo{
    margin-bottom: 15rem;
      &__img-palla{
        margin-left:45rem;
        margin-top: 10rem; 
        height: 30rem;
        width: 30rem; 
          opacity: 30%;
          transition: all 0.3s ease-in;
          &:hover{
          opacity: 90%;
          }
      }
      &__img-cv{ 
        margin-top:10rem;
          opacity: 30%;
          transition: all 0.3s ease-in;
          &:hover{
          opacity: 90%;
          }
      }
      &__img-vans{ 
        width:40rem;
        height:16rem;
        margin:10rem auto;
          opacity: 30%;
          transition: all 0.3s ease-in;
          &:hover{
          opacity: 90%;
          }
      }
      &__brandtitle{
        margin: 5rem 30rem 5rem 30rem;
        border-width: 5rem;
        align-items: center;
        
      }
      &__paginationcontainer{
        display:flex;
        float:right;
        margin-top: 1rem;
        padding-top:5rem;
        margin-bottom:10rem;
      }
      &__filter{
        margin: 2rem 10rem 2rem 10rem;
        align-items: center;
        display:flex;
        padding: 1.2rem 7.2rem;
        input[type=text] {
          width: 15rem;
          height: 2.7rem;
          margin-left: 2rem;
          border: 0.1rem solid ;
          border-radius: 0.4rem;
          outline:none;
          padding: 1.2rem 1.4rem;
          &:hover{
            background-color: $color-primary-pink;
        }
      }
      }
      &__filter-label{
        margin-right:1.6rem;
        text-transform: uppercase;
      }
      &__filter-btn{
        margin-right:1.2rem;
        min-width:12.4rem;
        height: 3rem;
        border-radius: .9rem;
        border-width: 0;
        padding: 0 1.2rem;
        outline: none;
        cursor: pointer;
        display: inline-flex;
        align-items: center;
        justify-content:center;
        line-height:4rem;
        text-transform: uppercase;
        background-color: $color-primary-pink;
        &:hover{
          color:$color-primary-orange;
          transition:0.3s;
        }
      }
      &__filter-selection-container{
        min-width: 15.4rem;
        padding: 0 2.2rem;
        height:3.4rem;
        border-radius:.9rem;
        display:flex;
        justify-content: space-between;
        background-color:$color-primary-pink;
        align-items: center;
        padding-left: 2rem;
        position:relative;

        &:hover &__option{
          display: block;
        }
        
        &__option{
          display:none;
          position: absolute;
          left: 0;
          right: 0;
          padding-left: 1.5rem;
          top: 3.44rem;
          border-radius: 0rem;
          border-width:2rem;
          background-color: $color-primary-pink;
          padding-left:0.8rem 1.6rem;
          list-style:none;
        }

      }
      &__filter-selection{
        position: relative;

        &__icon{
          margin: 0 1.6rem 0 0.8rem;
          position: relative;
          top:0.1rem;
        }
        
      }
      &__select-input{
        display: block;
        padding: 0.4rem 0;
        &:hover{
          color:$color-primary-orange;
        }
      }
}

