.cart__title{
    font-size: 4rem;
    text-align: center;
    color: $color-black;
    margin-top: 10rem;
}
.cart__header{
    text-align: left;
    padding: 0.75rem;
    color: $color-black;
    background: $color-primary;
    font-weight: 700;

}

.cart__page{
    margin: 0 auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.cart__table{
    width: 80rem;
    border-collapse: collapse;
    margin: 0 auto;
    td{
        padding: 1rem 0.5rem;
        input{
            width: 4.5rem;
            height: 3rem;
            padding: 0.5rem;
        }
        a{
            color: red;
            font-size: 1.2rem;
            
        }
    }
}
.cart__info{
    display:flex;
    flex-wrap: wrap;
    line-height: 2rem;
    img{
        width: 10rem;
        height: 10rem;
        margin-left: -0.5rem;
        margin-right: 2rem;
    }
}

.cart__total{
    display: flex;
    justify-content: flex-end;
    margin-top: 4rem;
    table{
        border-top: 0.2rem solid $color-primary;
        width: 100%;
        max-width: 35rem;
        margin-right: 37rem;
        line-height: 4rem;
    }
}

.cart__OrdBtn{
    width: 20rem;
    margin-top: 2rem;
    margin-left: 90.5rem;
    padding: 1rem;
    color: $color-black;
    text-align: center;
    font-weight: bold;
    transition: 0.3s;
    outline: none;
    border-radius: 0.5rem;
    background: $color-primary;
    border: none;
    cursor: pointer;
    &:hover{
        background-color: darken($color-primary,20%);
        color: whitesmoke;
    }
}
