.brand {
     margin-top: 10rem;
     
     &__list {
       justify-content: space-between;
       align-items: center;
     }
   
     &--column img {
       filter: opacity(30%);
       transition: all 0.3s ease-in;
   
       &:hover {
         filter: opacity(90%);
       }
     }
   
     &--column-circle a {
       display: block;
       width: 10rem;
       height: 10rem;
     }
   
     &--column-rec-1 a {
       display: block;
       width: 40rem;
       height: 4rem;
     }
   
     &--column-rec-2 a {
       display: block;
       width: 25rem;
       height: 10rem;
     }
}

.service {
     display: flex;
     justify-content: space-between;
     color: $color-dark-1;
     border-top: 1px solid $color-dark-2;


     &__item {
          display: flex;
          align-items: center;
          padding: 6rem 0;
     }

     &__info {
          font-size: 1.4rem;
     }

     &__icon {
          font-size: 4rem;
          margin-right: 1.4rem;
          transition: all 0.3s ease-in;
     }

     &__heading {
          margin-bottom: 5px;
          font-weight: 700;
     }

     &__item:hover &__icon {
          color: $color-primary;
     }
}

.featured-products {
     margin: 10rem 0 15rem;
}

.event {
     letter-spacing: 5px;
     line-height: 300%;
     color: $color-dark-1;
     margin: 15rem 0;
     
     &__title, &__time--num {
          color: $color-primary;
     }

     & > .container {
          justify-content: space-between;
     }

     &__info {
          flex: 1;
          padding: 7rem 0;
     }

     &__title {
          font-size: 2rem;
     }

     
     &__content {
          font-size: 3rem;
          margin: 0 10rem;
          position: relative;

          &::before {
               content: "";
               width: 8rem;
               height: 3px;
               background: $color-black;
               position: absolute;
               left: -10rem;
               top: 15%;
          }
     }

     &__time {
          display: flex;
          justify-content: space-evenly;
          padding-right: 3rem;

          &--column {
               text-align: center;
          }

          &--num {
               font-size: 5rem;
               margin-top: 4rem;
          }

          &--text {
               font-size: 1.6rem;
          }
     }

     &__image {
          flex: 1;
          background: url("../images/event-image.jpg");
          background-position: center right;
     }
}

