.login{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.2s ease-in-out;
    z-index: 2000;
}

.login.active {
    transform: translate(-50%, -50%) scale(1);
}

.login__box{
    width: 45rem;
    margin: 0 auto;
    color: #222;
    padding: 2rem 3rem;
    border-radius: 0.4rem;
    background: #fff;
    
    h3 {
        font-size: 3.75rem;
        margin-bottom: 0.5rem;
        padding: 1rem 0;
        color: $color-primary-orange;
    }
    
    //Used for forgot password and register 
    .login__other {
        line-height: 3.5rem;
        color: $color-primary-blue;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;

        & *:hover{
            font-weight: 700;
        }
}

.text__box{
    width: 100%;
    overflow: hidden;
    font-size: 2rem;
    padding: 0.8rem;
    margin: 0.8rem 0;
    border-bottom: 0.2rem solid $color-dark-4;

    &:hover {
        border-bottom: 0.2rem solid $color-primary-blue;
    }
    
    input {
        border: none;
        outline: none;
        background: none;
        color: $color-black;
        font-size: 1.5rem;
        width: 80%;
        float: left;
        margin: 0 0rem;
    }
}
}

.login__btn {
    background: $color-primary-orange;
    border: none;
    color: $color-black;
    display: block;
    padding: 0.5rem;
    font-size: 2rem;
    cursor: pointer;
    text-align: center;
    margin: 3rem auto;
    outline: none;
    width: 40%;
    transition: all 0.2s ease-in;
    border-radius: 10rem;

    &:hover{
        background-color: $color-primary-brown;
        color: $color-white;
    }

}

