.register{
    background-color:oldlace;
    background-size: cover;
    margin: 150px 309px;
    padding: 40px;
    box-sizing: border-box;
}
.reg__h2{
    text-align: center;
    color: $color-peru;
    padding: 15px 0px;
}
.reg__box{
    display: flex;
    background-color:peachpuff;
    box-sizing: border-box;
}
.reg__boxleft{
    background-image: url();
    background-size: 100%;
    width:100%;
    box-sizing: border-box;
}
.reg__boxright{
    width: 100%;
    box-sizing: border-box;  
}
.reg__form{
    padding: 30px;
}
.reg__account{
    text-align: center;
}
.reg__input{
    background-color:peachpuff;
    width: 100%;
    box-sizing: border-box;
    border: none;
    border-bottom: solid 1px $color-peru ;
    height: 30px;
}
.reg__button{
    margin: 20px 0;
    background:$color-peru;
    border: none;
    font-weight: 600;
    padding: 10px 15px;
    width: 100%;
}