.cta {
  transition: all 0.1s linear;

  background-color: $color-primary-blue;
  color: $color-white;
  border: none;
  border-radius: 100px;

  &__arrow {
    transition: all 0.2s linear;
  }

  &:hover {
    letter-spacing: 2px;
  }
  
  &:hover .cta__arrow {
    margin-left: 20px;
  }

  &:active {
       transform: translateY(3px);
       box-shadow: 2px 2px 2px 2px rgba($color-black, 0.8);
  }
}
