.pagination {
    width: 40rem;
    margin-left: 5rem;
  }
  .pagination a {
    display: block;
    color: $color-black;
    float: left;
    padding: 0.8rem 1.6rem;
    text-decoration: none;
    transition: background-color .3s;
  }
   
.pagination a.active {
    background-color: $color-primary-orange;
    color: $color-white;
  }
   
.pagination a:hover:not(.active) {
    background-color: $color-white;
  }