// font
$font-main: "function-regular";
$default-font-size: 1.6rem;

// color
$color-primary: #FFBA48;
$color-dark-1: #444;
$color-dark-2: #999;

$color-white: #fff;
$color-black: #222;

// size
$nav-height: 100px;