// font
$font-main: "function-regular";
$default-font-size: 1.6rem;

// color
$color-primary-orange: #FF7D00;
$color-primary-brown: #78290F;
$color-primary-pink: #FFCED1;
$color-primary-blue: #15616D;
$color-primary-black: #001524;

$color-dark-1: #444;
$color-dark-2: #757575;
$color-dark-4: #BDBDBD;

$color-white: #fff;
$color-black: #222;
$color-red: #ff0000;

// size
$nav-height: 100px;