// font
$font-main: "function-regular";
$default-font-size: 1.6rem;

// color
$color-primary: #FFBA48;
$color-white: #fff;
$color-black: #000;
$color-peru:peru;
$color-peachpuff:peachpuff;
$color-oldlace:oldlace;
// size
$nav-height: 100px;
