// font
$font-main: "function-regular";
$default-font-size: 1.6rem;

// color
$color-primary: #FF9800;
$color-primary-dark: #F57C00;
$color-primary-light: #FFE0B2;

$color-dark-1: #444;
$color-dark-2: #999;
$color-dark-3: #757575;
$color-dark-4: #BDBDBD;

$color-white: #fff;
$color-black: #222;

$color-black: #000;
$color-peru:peru;
$color-peachpuff:peachpuff;
$color-oldlace:oldlace;
// size
$nav-height: 100px;